/.metadata/
/JAVA/Netbeans/AI_Cafe_Maven/target/
/JAVA/Netbeans/KitchenScreen/build/
/JAVA/Netbeans/KitchenScreen/nbproject/private/
/JAVA/STS4_practice/SpringBoot_MyBatis_Cafe2
/JAVA/STS4_practice/SpringBoot_MyBatis_Cafe2_EC2
/JAVA/STS4_practice/ai