<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="kr.co.openeg.mapper.BoardMapper">

	<sql id="criteria">
		<if test="type != null">
			<if test="type == 'T'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'C'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'W'.toString()">
				and writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'TC'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="type == 'CW'.toString()">
				and ( content like CONCAT('%', #{keyword}, '%') OR writer like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="type == 'TCW'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%') OR writer like CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>

	<!--  
	<insert id="create">
		insert into tbl_board (title, content, writer)
		values(#{title},#{content}, #{writer})
	</insert>
	-->
	
	<insert id="insertSelectKey">
		insert into tbl_board ( title, content, writer )
		values ( #{title}, #{content}, #{writer} )
		
		<selectKey resultType="long" keyProperty="bno" order="AFTER">
        SELECT LAST_INSERT_ID()
    	</selectKey>
	</insert>

	<select id="read" resultType="kr.co.openeg.domain.BoardVO">
		select *
		  from tbl_board
		 where bno = #{bno}
	</select>

	<select id="listAll" resultType="kr.co.openeg.domain.BoardVO">
 	<![CDATA[
 		select *
 		  from tbl_board 
 		 where bno > 0 
 		 order by bno desc, regdate desc
	]]>
	</select>

<!-- 
	<select id="listPage" resultType="kr.co.openeg.domain.BoardVO">
 	<![CDATA[
 		select *
 		  from tbl_board 
 		 where bno > 0 
 		 order by bno desc, regdate desc
 		 limit #{page}, 10
 	]]>
	</select>
-->

	<select id="listCriteria" resultType="kr.co.openeg.domain.BoardVO">
 	<![CDATA[
 		select *
		  from tbl_board 
		 where bno > 0 
		 order by bno desc, regdate desc
		 limit #{pageNum}, #{amount}
 	]]>
	</select>


	<update id="update">
		update tbl_board set title =#{title}, content
		=#{content}
		where bno = #{bno}
	</update>

	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>



	<select id="countPaging" resultType="int">
 <![CDATA[
 select 
   count(bno) 
 from 
   tbl_board 
 where 
   bno > 0 
 ]]>
	</select>





	<select id="listSearch" resultType="kr.co.openeg.domain.BoardVO">
<![CDATA[  
  select * 
  from tbl_board 
  where bno > 0 
]]>

		<include refid="criteria"></include>
  
<![CDATA[    
  order by bno desc
  limit #{pageStart}, #{perPageNum}
]]>
	</select>

	<select id="listSearchCount" resultType="int">
<![CDATA[  
  select count(bno) 
  from tbl_board 
  where bno > 0 
]]>
		<include refid="criteria"></include>

	</select>




	<update id="updateViewCnt">
		update tbl_board set viewcnt = viewcnt +1 where bno = #{bno}
	</update>



	<insert id="addAttach">
		insert into tbl_attach(fullname, bno) values (#{fullName}, LAST_INSERT_ID())
	</insert>


	<select id="getAttach" resultType="string">
		select fullname from tbl_attach where bno = #{bno} order by regdate
	</select>


	<delete id="deleteAttach">
		delete from tbl_attach where bno = #{bno}
	</delete>

	<insert id="replaceAttach">
		insert into tbl_attach(fullname, bno) values (#{fullName}, #{bno})
	</insert>






	<!-- 현재 페이지에 해당하는 목록 조회 -->
    <select id="getListWithPaging" resultType="kr.co.openeg.domain.BoardVO">
  	<![CDATA[
      	select * 
      	  from tbl_board
     	 where bno > 0  
  	]]>
  		<include refid="criteria"></include> 
    <![CDATA[    
    	  order by regdate desc
    	  limit #{pageStart}, #{perPageNum}   
  	]]>
  	</select>

	<!-- 전체 게시판 개수 조회 -->
  	<select id="getTotalCount" resultType="int">
	<![CDATA[
      	select count(*) 
      	  from tbl_board
     	 where bno > 0  
  	]]>
  		<include refid="criteria"></include> 
  	</select>
	
	<!-- 게시물별 댓글 개수 업데이트 -->
	<update id="updateReplyCnt">
		update tbl_board 
		   set replycnt = replycnt + #{amount} 
		 where bno = #{bno}
	</update>


</mapper>
