<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>모나코 에디터 연습</title>
    <link rel="stylesheet" data-name="vs/editor/editor.main"
          th:href="@{/static/node_modules/monaco-editor/min/vs/editor/editor.main.css}"/>
    <script th:src="@{/static/node_modules/jquery/dist/jquery.js}"></script>

    <script>var require = {paths: {'vs': '../node_modules/monaco-editor/min/vs'}};</script>
    <script th:src="@{/static/node_modules/monaco-editor/min/vs/loader.js}"></script>
    <script th:src="@{/static/node_modules/monaco-editor/min/vs/editor/editor.main.nls.js}"></script>
    <script th:src="@{/static/node_modules/monaco-editor/min/vs/editor/editor.main.js}"></script>

</head>
<body>
<div>
    <h2>온라인 코드 에디터</h2>
    <pre id="monaco"></pre>
</div>

<script th:inline="javascript">
    function setEditor(inputValue, inputLanguage){
        // Monaco editor 옵션 참고 : https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.ieditoroptions.html
        return {
            value: inputValue,
            language: inputLanguage,    // 언어
            theme: "vs-dark",   // 테마
            lineNumbers: 'on',  // 줄 번호
            glyphMargin: false, // 체크 이미지 넣을 공간이 생김
            vertical: 'auto',
            horizontal: 'auto',
            verticalScrollbarSize: 10,
            horizontalScrollbarSize: 10,
            scrollBeyondLastLine: false, // 에디터상에서 스크롤이 가능하게
            readOnly: false,    // 수정 가능 여부
            automaticLayout: true, // 부모 div 크기에 맞춰서 자동으로 editor 크기 맞춰줌
            minimap: {
                enabled: true // 우측 스크롤 미니맵
            },
            lineHeight: 19
        }
    }
    /*<![CDATA[*/
    const monaco_test = new monaco.editor.create(document.getElementById('monaco'), setEditor([[${value}]], [[${language}]]));
    $('#monaco').height((monaco_test.getModel().getLineCount() * 19) + 10); // 19 = 줄 높이, 10 = 세로 스크롤 높이
    /*]]>*/
</script>
</body>
</html>